body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.login{
    background-image: linear-gradient(to left, #7d5cccd4, #fc9873db), url("../img/background2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7em;
}
/* header */
.jumbotron-img{
    background-image: linear-gradient(to left, #7d5cccd4, #fc9873db), url("../img/settings.png");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* dashboard */
.dashboard-txt{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 200%;
    text-shadow: 0 0 3px black;
}
.dashboard-back{
    background-color: #ECECEC;
    height: 100%;
}
.dashboard-front {
    background-color: #FFFFFF;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    border-radius: 1.5em;
    box-sizing: border-box;
}
.content{
    padding: 10px;
}
.welcometxt{
    width: 40%;
}
.img-row {
    margin-left: 10%;
}
.img-column{
    float: left;
    width: 22%;
    margin: 4%;
    position: relative;
}
.image{
    display: block;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #7d5cccd4;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.img-column:hover .overlay {
    height: 100%;
    cursor: pointer;
}
.overlay-text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center
}
.img-title{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 200%;
    text-shadow: 0 0 3px black;
}
.event-title{
    font: italic bold 40px Arial;
    text-align: center;
}
.event-content{
    text-align: center;
    padding: 0;
    margin: 0;
}
.row{
    margin-left: 2%;
}

.column {
    float: left;
    width: 22%;
    margin: 4%;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    background-color: #9982F6;
}
.column:hover{
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/* button */
.GoBackButton {
    background-color:#9982f6;
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:22px;
    padding:17px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-top: 1%;
    margin-left: 1%;
}
.GoBackButton:hover {
    background-color:#7264ad;
}
.GoBackButton:active {
    position:relative;
    top:1px;
}
/* Login Screen */
.main {
    background-color: #FFFFFF;
    width: 400px;
    height: auto;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    margin: 5px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding: 5px 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

.dashboardButtonText {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: black;
    font-size: 160%;
}
.validation{ !important;
    text-align: center;
    color: red;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    margin: 0px;
}

.edit-icon{
    width: 3%;
    margin-left: 30%;
}
/* overlay text */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.table {
    font-size: 100%;
    table-layout: auto;
    width: 100%;
}
.table-small{
    width: 1%;
}


@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}
body{
    background-color: #ECECEC;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
}

/* Header section */

.header{
    background-image: linear-gradient(to left, #7d5cccd4, #fc9873db), url("../img/jazzheader.png");
    background-size: cover;
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
    border-color: #9982F6;

}

h1.eventhead{
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 80px;
    font-size: 50px;
}

h2.slogan{
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 0px rgba(153, 130, 246, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
    background-color: white;
    vertical-align: middle;
    border-radius: 28px;
}
section.agenda{
    background-color: #9982F6;
    width: 1000px;
    height: auto;
    display: flex;
    border-style: solid;
    border-width: 20px;
    border-top-width: 80px;
    border-color: white;
    padding-bottom: 2%;
    margin: 60px auto auto;
    margin-bottom: 50%;
    flex-flow: column;
}

article.title-wrapper{
    display: flex;
    flex-flow: row;
}

.agenda h1{
    margin-top: -50px;;
    margin-right: 29.5%;
    font-size: 130%;
}

.agenda-button{
    border-radius: 10px;
    width: 120px;
    height: 30px;
    border-color: transparent;
    background-color: #9982F6;
    margin-top: -55px;
    margin-left: 2%;
    border: none;
}
.agenda-button:hover{
    background-color: #7C6AC3;
    cursor: pointer;
}

.agenda h2{
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.agenda p{
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
}