body{
    background-color: #ECECEC;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
}

/* Header section */

.header{
    background-image: linear-gradient(to left, #7d5cccd4, #fc9873db), url("../img/jazzheader.png");
    background-size: cover;
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
    border-color: #9982F6;

}

h1.eventhead{
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 80px;
    font-size: 50px;
}

h2.slogan{
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 0px rgba(153, 130, 246, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
    background-color: white;
    vertical-align: middle;
    border-radius: 28px;
}
section.agenda{
    background-color: #9982F6;
    width: 1000px;
    height: auto;
    display: flex;
    border-style: solid;
    border-width: 20px;
    border-top-width: 80px;
    border-color: white;
    padding-bottom: 2%;
    margin: 60px auto auto;
    margin-bottom: 50%;
    flex-flow: column;
}

article.title-wrapper{
    display: flex;
    flex-flow: row;
}

.agenda h1{
    margin-top: -50px;;
    margin-right: 29.5%;
    font-size: 130%;
}

.agenda-button{
    border-radius: 10px;
    width: 120px;
    height: 30px;
    border-color: transparent;
    background-color: #9982F6;
    margin-top: -55px;
    margin-left: 2%;
    border: none;
}
.agenda-button:hover{
    background-color: #7C6AC3;
    cursor: pointer;
}

.agenda h2{
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.agenda p{
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
}