body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------- Index ----------------------- */

.index{
    background: #ECECEC;
}

/* --------- Logo --------- */

.logo {
  width: 10%;
  height: 20%;
  background-color: #403E3E;
  position: fixed;
  float: left;
  margin: 0% 12%;
}

.logo img {
  object-fit: contain;
  position: fixed;
  width: 16%;
  height: 15%;
  margin-top: 1.5%;
  margin-left: -3%;
}

/* --------- Logo End--------- */

/* --------- Navigation bar --------- */

#masthead {
    width: calc(100vw);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 500;
}

.navbar {
  overflow: hidden;
  background-color: #ECECEC;
}

.navbar a {
  color: black;
  float: right;
  font-size: 26px;
  padding: 1% 5%;
  text-decoration: none;
  margin: 0.9%;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  width: 100%;
  font-size: 26px;
  border: none;
  outline: none;
  color: black;
  margin-top: 63%;
  background-color: inherit;
}

.dropdown .dropbtn1 {
  width: 100%;
  font-size: 26px;
  border: none;
  outline: none;
  color: black;
  margin-top: 39%;
  background-color: inherit;
}

.navbar a:hover {
  text-decoration: underline solid #7d5cccd4 4px;
  text-underline-position: under;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 9%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1% 5%;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-decoration: underline solid #7d5cccd4 4px;
  text-underline-position: under;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #ECECEC;
}

.shoppingcart img{
  width: 45%;
  margin-top: -8%;
}

/* --------- Navigation bar End--------- */

/* --------- Header --------- */

.indexHeader{
    background-image: linear-gradient(to left, #7d5cccd4, #fc9873db), url("../img/bannerIndex.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.indexTitle{
    color: white;
    text-shadow: 3px 3px black;
    text-align: center;
    margin: auto;
    padding-top: 10%;
    font-size: 50px;
}

h2.indexSlogan{
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 0px rgba(153, 130, 246, 0.5);
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    vertical-align: middle;
    width: 30%;
    border-radius: 25px;
    margin-bottom: 2.5%;
}

/* --------- Header End --------- */

/* ------------------- Body ------------------- */

#midsection {
  /* background: blue; */
  width: 100%;
  height: 100%;
  position: absolute;
}

.containerBody {
  /* background: green; */
  width: 100%;
  height: 230%;
  position: absolute;
}

/* ------------------- Body End ------------------- */

/* --------- Quickbar --------- */

.quickbar {
  width: 85%;
  height: 10%;
  /* background-color: red; */
  margin-left: 7.5%;
}

.backgroundQuickbar1 {
  position: absolute;
  background-color: white;
  width: 23%;
  height: 7%;
  margin-top: 2%;
}

.backgroundQuickbar2 {
  position: absolute;
  background-color: white;
  width: 23%;
  height: 7%;
  margin-top: 2%;
  margin-left: 30.5%;
}

.backgroundQuickbar3 {
  position: absolute;
  background-color: white;
  width: 23%;
  height: 7%;
  margin-top: 2%;
  margin-left: 61.8%;
}

.quickbarButton {
  width: 92%;
  height: 84%;
  margin-top: 2.8%;
  margin-left: 3.9%;
  border: none;
  outline: none;
  background-color: #7d5cccd4;
}

.quickbarButton img {
  float: left;
  margin-top: 5%;
  margin-left: 4%;
  width: 15%;
  height: 50%;
}

.quickbarButton p {
  font-weight: bold;
  font-size: 34px;
  margin-right: 40%;
  width: 70%;
}

/* --------- Quickbar End --------- */

/* --------- Events --------- */

.hoverEvents {
  width: 85%;
  height: 23%;
  /* background-color: yellow; */
  margin-left: 7.5%;
}

.backgroundEvent1 {
  position: absolute;
  background-color: white;
  width: 23%;
  height: 20%;
  margin-top: 1%;
}

.backgroundEvent2 {
  position: absolute;
  background-color: white;
  width: 23%;
  height: 20%;
  margin-top: 1%;
  margin-left: 30.5%;
}

.backgroundEvent3 {
  position: absolute;
  background-color: white;
  width: 23%;
  height: 20%;
  margin-top: 1%;
  margin-left: 61.8%;
}

.imageZoom {
  position: relative;
  overflow: hidden;
  width: 92%;
  height: 92%;
  margin-top: 2.8%;
  margin-left: 3.9%;
  border: none;
  outline: none;
}

.imageZoom img {
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1);
}

.imageZoom:hover img {
  transform: scale(1.1);
}

.bottom-left {
  position: absolute;
  bottom: 3%;
  left: 16px;
  color: white;
  font-size: 26px;
  text-shadow: 2px 2px black;
}

/* --------- Events End --------- */

/* --------- Social Media Feed --------- */

.socialmedia {
  width: 100%;
  height: 61%;
  /* background-color: pink; */
  margin-top: -1.6%;
}

.socialmedia p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.socialmedia img {
  width: 99%;
}

/* --------- Social Media Feed End --------- */

/* --------- Partners --------- */

.partners {
  width: 100%;
  height: 15%;
  margin-top: -1.6%;
}

.partners p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.partner1 {
  position: absolute;
  width: 9%;
  height: 7%;
  margin-left: 9.5%;
}

.partner2 {
  position: absolute;
  width: 9%;
  height: 7%;
  margin-left: 27.5%;
}

.partner3 {
  position: absolute;
  width: 9%;
  height: 7%;
  margin-left: 45.5%;
}

.partner4 {
  position: absolute;
  width: 9%;
  height: 7%;
  margin-left: 63.5%;
}

.partner5 {
  position: absolute;
  width: 9%;
  height: 7%;
  margin-left: 81.5%;
}

.backgroundEvent3 {
  position: absolute;
  background-color: white;
  width: 23%;
  height: 20%;
  margin-top: 1%;
  margin-left: 61.8%;
}

.partnerImages {
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;
}

.partnerImages img {
  transition: all 0.3s;
  display: block;
  transform: scale(1);
}

.partnerImages:hover img {
  transform: scale(1.1);
}

/* --------- Partners End --------- */

/* --------- Footer --------- */


section.wrapperfooter{
    width: 100%;
    height: 280px;
    background-color: #9982F6;
    display: flex;
    justify-content: center;
    clear: both;
    position: absolute;
    margin-top: 100px;
}

article.copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    bottom: 0%;
    position: absolute;
}

.copyrightlogos img{
    margin-left: 7px;
    width: 19%;
    height: auto;
}

img.logofooter{
    width: 8%;
    height: auto;
    position: absolute;
    left: 5%;
    top: 10%;
}

article.linefooter{
    width: 90%;
    height: 1px;
    position: absolute;
    background: rgb(0, 0, 0);
    top: 65%;
}

.footermenu{
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    flex-flow: row;
}

.menutag{
    position: absolute;
    top: 3%;
    left: 20%;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.wrapperfooter a{
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

.footermenu ul{
    width: 30%;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.footermenu ul.section1{
    margin-right: 20px;
}

.footermenu ul.section2{
    margin-right: 20px;
}

.footermenu ul{
    margin: 0;
    padding: 0;
}

.footermenu li{
    list-style-type: none;
    margin-bottom: 10px;
}

.latestposttag{
    position: absolute;
    top: 3%;
    left: 45%;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.latestposts{
    position: absolute;
    top: 20%;
    left: 45%;
    width: 400px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.latestposts .insta img{
    height: auto;
    float: left;
    margin-right: 13px;
}

.latestposts p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}

.facebook{
    position: absolute;
    top: 130%;
    left: 0%;
}

.facebook p{
    position: absolute;
    width: 1000%;
    top: 0%;
    left: 150%;
    float: right;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    font-size: 14px;
}

.stayconnectedtag{
    position: absolute;
    top: 3%;
    left: 70%;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.stayconnected{
    position: absolute;
    width: 11%;
    top: 20%;
    left: 70%;
}

.stayconnected .email{
    outline: none;
    border: none;
    background-color: #FFFFFF;
    width: 100%;
    height: 20px;
}

.stayconnected .signup{
    float: right;
    margin-top: 20px;
    background-color: #CD5F47;
    border: none;
    width: 50%;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

/* --------- Footer End --------- */

/* ----------------------- Index End ----------------------- */
